<h1>Bienvenue sur la page dédiée à GoT</h1>

<input #searchInput type="text" placeholder="Chercher un personnage" (input)="onSearch(searchInput.value)">


<!--<div [ngClass]="{selected : isSelected, warning : isWarning }">
    Coucou, l'état de isSelected est {{ isSelected }}</div>
<button (click)="toggleSelected()">Toggle selected</button>-->

<!-- <div [ngClass]="['card', isActive ? 'active' : 'inactive']">
    Ceci est une carte dont le statut est {{ isActive ? 'active' : 'inactive' }}
</div>-->

<!--<div [ngStyle]="{color: colorCrimson}">
    Ceci est un texte en rouge car sa couleur est {{ colorCrimson }}
</div>-->

<!--<button (click)="toggleColor()" [ngStyle]="{'width': isToggled ? '200px' : '100px'}">Bouton</button>
<div [ngClass]="isToggled ? 'blue' : 'red'" [ngStyle]="{'font-size': isToggled ? '20px' : '14px'}">
    <h1 [style.color]="isToggled ? 'black' : 'blue'">Coucou</h1>
    <p [ngStyle]="{'text-decoration' : isToggled ? 'underline' : 'none'}">On fait plein de tests</p>
</div>-->

<!-- <div class="coucou" [style.color]="isOnline ? 'green' : 'red'">Hello</div>-->
<app-characters-list [charactersFromParent]="filteredCharacters" />
<app-continents-list [continentsFromParent]="continentsToGiveToChild" />

