.continent-card-pair {
    display: inline-block;
    border: solid 4px blue;
    border-radius: 10px;
    margin: 30px;
    width: 20%;
    min-width: 400px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, black, #022658, #1633c7);
    color: white
}

.continent-card-impair {
    display: inline-block;
    border: solid 4px palevioletred;
    border-radius: 10px;
    margin: 30px;
    width: 20%;
    min-width: 400px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, black, #022658, #1633c7);

}

h1 {
    text-align: center;
    text-decoration: underline;
    color: black
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: center;
    color: whitesmoke;
}

.continent-card-pair:hover {
    background: lightblue;
    border: 3px solid blue;
}

.continent-card-impair:hover {
    background: pink;
    border: 3px solid palevioletred;
}