
<div class="characters-wrapper">
    @for (character of charactersFromParent; track character.id) {
        <div class="character-card">
            <div class="head-card"><h2>{{character.firstName}} {{character.lastName}}</h2>
            <h3>{{character.title}}</h3>
            </div>
            <div class="corps"><img src="{{character.imageUrl}}" alt="{{character.firstName}} {{character.lastName}}"></div>
            <div class="foot-card"><strong>Famille: {{character.family}} </strong></div>
        </div>
    }
    @empty {
        <p>Aucun character à afficher</p>
    }

</div>