html, h1, h2 {
    color:black
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.character-card {
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    height: 300px;
    width: 300px;
}

h3, h4, strong {
    color: lightblue;
}

.house-targaryen, .targaryan{
    background-color: red;
    border: 1px solid red;
}


.house-tarly {
    background-color: blue;
    border: 1px solid blue;
}

.house-stark, .stark {
    background-color: yellow;
    border: 1px solid yellow;
}

.house-baratheon, .baratheon {
    background-color: green;
    border: 1px solid green;
}

.house-lannister, .house-lanister, .lannister, .lanister {
    background-color: pink;
    border: 1px solid pink;
}

.house-greyjoy, .greyjoy {
    background-color: grey;
    border: 1px solid grey;
}

.house-seaworth {
    background-color:indigo;
    border: 1px solid indigo;
}

.house-tyrell, .tyrell {
    background-color: orange;
    border: 1px solid orange;
}

.tarth {
    background-color: brown;
    border: 1px solid brown;
}

.free-folk {
    background-color: cyan;
    border: 1px solid cyan;

}

.naharis {
    background-color: lightgreen;
    border: 1px solid lightgreen;
}

.bolton {
    background-color:darksalmon;
    border: 1px solid darksalmon;
}

.bronn {
    background-color: magenta;
    border: 1px solid magenta;
}

.worm {
    background-color: lightgrey;
    border: 1px solid lightgrey;
}

.lorathi, .lorath {
    background-color: lemonchiffon;
    border: 1px solid lemonchiffon;
}

.qyburn {
    background-color: lightcoral;
    border: 1px solid lightcoral;
}

.mormont {
    background-color: lightseagreen;
    border: 1px solid lightseagreen;
}

.sparrow {
    background-color: darkblue;
    border: 1px solid darkblue;
}

.viper {
    background-color: darkred;
    border: 1px solid darkred;
}

.sand {
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
}

.house-baelish , .baelish {
    background-color: black;
    border: 1px solid black;
}

.character-card:hover {
    box-shadow: 15px 15px 15px grey;
    transition: all 0.6s ease-in-out;
    width: 310px;
}



.head-card {
    background: linear-gradient(to left, black, #022658, #1633c7);
    margin: 0px;
    padding: 0px;
    height: 70px;
    line-height: 22px;
}


.corps {
    height: 150px;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    justify-content: center;
}

.foot-card {
    background: linear-gradient(to left, black, #022658, #1633c7);
    margin: 0px;
    padding: 20px;
    justify-content: bottom;
    height: 1%;
}

h2 {
    text-decoration: underline;
    color: lightblue
}

h3 {
    font-style: italic;
}

h4 {
    color: lightblue;
    font-size: 20px;
    text-decoration: underline;
    padding: 0px;
}